<body>
  <form>
  <h1>Conversor de Medidas</h1><br>
    <h6>Insira seu valor em metros aqui:<br></h6>
    <input [(ngModel)]="valor1" name="valor1" type="number" /><br><br>
    <button (click)="centimetros()" type="button" class="btn btn-outline-primary">Centímetro</button>
    <button (click)="milimetros()" type="button" class="btn btn-outline-primary">Milímetro</button>
    <button (click)="quilometros()" type="button" class="btn btn-outline-primary">Quilômetro</button>
  </form>

  <h5><span>Resultado: {{ resp }}</span></h5>
</body>